In [47]:
# Dependencies & Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time



# Import API Key
g_key = "AIzaSyBq8Tj6gblVAjRqcUgyqQoHF0UxTgMGLj0"

In [48]:
# Store Part I results into DataFrame
weather_frame = pd.read_csv("output_csv/weather_frame.csv")
weather_frame.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Alta Floresta,-9.88,-56.09,102.20,15,20,9.17,BR,1597685894
1,1,Hilo,19.73,-155.09,75.20,83,90,10.29,US,1597685895
2,2,Lorengau,-2.02,147.27,81.36,80,14,9.46,PG,1597685622
3,3,Kangaatsiaq,68.31,-53.46,46.60,68,49,1.88,GL,1597685897
4,4,Rikitea,-23.12,-134.97,71.06,78,7,11.70,PF,1597685898

In [49]:
# Humidity Heatmap 
# Configure gmaps
gmaps.configure(api_key=g_key)

locations = weather_frame[["Lat", "Lng"]]
humidity = weather_frame["Humidity"]
max_humidity = humidity.max()

In [50]:
fig = gmaps.figure(center=(45.0, -5.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=max_humidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Create new DataFrame fitting weather criteria
clean_frame = weather_frame.loc[(weather_frame["Wind Speed"] <= 10) & (weather_frame["Cloudiness"] == 0) & \
                                   (weather_frame["Max Temp"] >= 70) & (weather_frame["Max Temp"] <= 80)].dropna()

clean_frame

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
166,166,Marsá Maţrūḩ,31.35,27.25,78.82,75,0,7.29,EG,1597686119
318,318,Zheleznodorozhnyy,55.75,38.00,70.00,59,0,4.47,RU,1597686322
320,320,Reconquista,-29.15,-59.65,72.84,21,0,8.01,AR,1597686325
326,326,Naze,28.37,129.48,78.80,100,0,1.12,JP,1597686332
344,344,Kalabo,-14.97,22.68,71.73,19,0,2.71,ZM,1597686354
408,408,Sidi Ali,36.10,0.42,78.28,51,0,5.32,DZ,1597686441
505,505,Tūkrah,32.53,20.58,79.74,76,0,8.61,LY,1597686557

In [62]:
# Hotel Map 
hotel_df = clean_frame.loc[:,["City","Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

                  City Country    Lat     Lng Hotel Name
166       Marsá Maţrūḩ      EG  31.35   27.25
318  Zheleznodorozhnyy      RU  55.75   38.00
320        Reconquista      AR -29.15  -59.65
326               Naze      JP  28.37  129.48
344             Kalabo      ZM -14.97   22.68
408           Sidi Ali      DZ  36.10    0.42
505             Tūkrah      LY  32.53   20.58

In [84]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [85]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    
    params["location"] = f"{lat},{lng}"

    print(f"Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    results = response["results"]
    
    try:
        print(f"Closest hotel in {city} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
    # If Data Missing
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    time.sleep(1.00)
    
print("------------End of Search-------------")

Results for Index 166: Marsá Maţrūḩ.
Missing field/result... skipping.
------------
Results for Index 318: Zheleznodorozhnyy.
Missing field/result... skipping.
------------
Results for Index 320: Reconquista.
Missing field/result... skipping.
------------
Results for Index 326: Naze.
Missing field/result... skipping.
------------
Results for Index 344: Kalabo.
Missing field/result... skipping.
------------
Results for Index 408: Sidi Ali.
Missing field/result... skipping.
------------
Results for Index 505: Tūkrah.
Missing field/result... skipping.
------------
------------End of Search-------------

In [65]:
hotel_df

                  City Country    Lat     Lng Hotel Name
166       Marsá Maţrūḩ      EG  31.35   27.25
318  Zheleznodorozhnyy      RU  55.75   38.00
320        Reconquista      AR -29.15  -59.65
326               Naze      JP  28.37  129.48
344             Kalabo      ZM -14.97   22.68
408           Sidi Ali      DZ  36.10    0.42
505             Tūkrah      LY  32.53   20.58

In [71]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [68]:
# Add marker layer on top of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))